<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index-style.css">
    <title>Home</title>

</head>
<body>
    <div class="container">

    {{>header}}
    <h1>
        {{title}}
    </h1>
    <div class="display">
        <div class="">
        <form action="" id="form">
            <input type="text" id="user_input" placeholder="Enter the location" autocomplete="off">
            <input type="submit" value="GO" id="submit">
        </form>
        
    </div>
    <div class="output">

        </div>
        </div>
                <script src="/js/index.js"> </script>

</body>
</html>